<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>You Can Blog It!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
   <div class="wrapper">
     <nav class="navbar navbar-light" style="background-color: #ddd8fa;">
       <div class="container-fluid">
           <span class="navbar-brand">You Can Blog It!</span>
            
        {{#if loggedIn}}
          
              <a class="navbar-brand" href="/">Home</a>
           
               <a class="navbar-brand" href="/dashboard">Dashboard</a>
               <button class="btn-no-style" id="logout">logout</button>
      
        {{else}}
         
        <a class="navbar-brand" href="/">Home</a>
        
       
        <a class="btn-no-style" href="/login">Log In/Sign Up</a>
        
        {{/if}}
        
    </div>
 
        </nav>
    <main>
     
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
      </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>